# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile.in
config.h.in
/configure
/INSTALL
/*.m4
/compile
/depcomp
/install-sh
/missing
/autom4te.cache
/config.h
/config.status
*.log
/stamp-h1
Makefile
/**/.deps
/**/.dirstamp
/**/*.o
/ar-lib
/ltmain.sh
/config.sub
/config.guess
/test-driver
/src/third-party/boost_1_66_0
/**/.libs
/libtool
node_modules
/**/tmp/
/test/server
/test/client
/test/proxy
/**/.*.swp
/cmake-build-debug
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/*.iws
/src/cacheproxy/config.h
/build
